<p id="notice"><%= notice %></p>

<h1>自転車屋さん</h1>
<%= page_entries_info @bicycleposts %>
<table>
  <thead>
    <tr>
      <th>商品番号</th>
      <th>商品名</th>
      <th>価格</th>
      <th>説明</th>
      <th>画像</th>
      <th>カテゴリー番号</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bicycleposts.each do |bicyclepost| %>
      <tr>
        <td><%= bicyclepost.id %>
        <td><%= bicyclepost.name %></td>
        <td><%= bicyclepost.value %></td>
        <td><%= bicyclepost.description %></td>
        <td><%= bicyclepost.image %></td>
        <td><%= bicyclepost.bicyclecategory_id %></td>
        <td><%= link_to 'Show', bicyclepost %></td>
        <td><%= link_to 'Edit', edit_bicyclepost_path(bicyclepost) %></td>
        <td><%= link_to 'Destroy', bicyclepost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @bicycleposts %>

<br>
<hr>
<p>カテゴリー一覧</p>
<table>
  <tr>
    <th>カテゴリー番号</th>
    <th>カテゴリー名</th>
  </tr>

  <% @categories.each do |obj| %>
  <tr>
    <td><a href="/bicycles/index/<%= obj.id %>"><%= obj.id %></a></td>
    <td><%= obj.name %>
  </tr>
  <% end %>
</table>



<%= link_to 'New Bicyclepost', new_bicyclepost_path %>
