<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bicyclepost.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @bicyclepost.value %>
</p>

<p>
  <strong>Description:</strong>
  <%= @bicyclepost.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @bicyclepost.image %>
</p>

<p>
  <strong>Bicyclecategory:</strong>
  <%= @bicyclepost.bicyclecategory_id %>
</p>

<%= link_to '注文ページへ', new_order_path %>

<%= link_to 'Edit', edit_bicyclepost_path(@bicyclepost) %> |
<%= link_to 'Back', bicycleposts_path %>
